<div class="col-xs-12 col-sm-12 col-md-4">
  <div class="cell">
    <div class="thumb">
      <img src="<%= food_item.image_url %>" alt="Delicatessen-cold-cut-platter.jpg" title="<%= food_item.name %>" />
    </div>

    <div class="bg">
      <%= content_tag(:a, :href => food_item_path(food_item.id)) do %>
        <div class="msg-wrap">
          <div class="msg">
            <%= food_item.name %><br/>
            $<%= food_item.price %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>