<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food_item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food_item.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @food_item.price %>
</p>

<p>
  <%= content_tag(:a, :href => root_path) do %>
    <img src="<%= @food_item.image_url %>" title="<%= @food_item.name %>" />
  <% end %>
</p>

<p>
<%= content_tag(:a, :href => new_order_path) do %>
  <%= button_tag "Order", class: 'btn btn-outline-success' %>
<% end %>
</p><br/><br/>