<!DOCTYPE html>
<html>
<head>
  <title>
    Welcome to Au Délice &amp; Le Restaurant d'Arthur!
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="container">
    <nav class="navbar navbar-light bg-faded">
    <%= link_to "Au Délice", root_path, class: 'navbar-brand'%>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <%= link_to "Menu", root_path, class: 'nav-link'%>
    </li>
    <li class="nav-item">
      <%= link_to "Contact Us", contact_us_path, class: 'nav-link' %>
    </li>
  </ul>
  <%= form_tag root_path, method: 'get', class: 'form-inline pull-xs-right', role: 'search' do %>
    <%= text_field_tag :query, params[:query], placeholder: "Search", class: "form-control"%>
    <%= submit_tag "Search", class: 'btn btn-outline-success' %>
  <% end %>
</nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
